@charset "utf-8";

input[type="submit"],input[type="button"]

{

	font-family: "黑体";

	font-size: 18px;

	color: white;

	background-color: #06C;

	height: 26px;

	border: 0px;

}



p.helptitle

{

	padding-top:20px;

}



input[class="showbtn"]

{

	font-family: "黑体";

	font-size: 18px;

	color: white;

	background-color: #C90;

	height: 26px;

	width: 100px;

	border: 0px;

}

a
{
	color:#09C
}